@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Header  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #255ee9;

}

img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.logo-img {
    width: 10%;
}


.login {
    background-color: white;
    color: black;

}

li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;

}



/* Header 2 */

.container-jumbo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 90, 122);
    background-size: cover;
    background-image: url('../img/jumbo.png');
    height: 600px;
}

/* Container Testo Principale */
.presentation {
    width: 900px;
    color: white;
}

/* Titolo principale */
.main-title {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    font-weight: 80px;
    margin-bottom: 30px;

}

i {
    margin-right: 10px;

}


/* Testo principale */
.main-opening {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;

}

/* Bottoni grandi */

.big-buttons {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 20px 35px;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 19px;


}


/* Bottoni piccoli  */

.small-buttons {
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 15px;
}


/* Buttons animations per d-btn*/
.d-btn {
    background-color: #ffffff;
    color: black;
    margin-right: 10px;
}



/* Buttons animations per o-btn*/
.o-btn {
    background-color: #23272a;
    color: #ffffff;
    margin-left: 10px;
}




/* Sezioni */

/* Colori bande sfondo */
.lightgrey {
    background-color: #f6f6f6;
}

.grey {
    background-color: red;
}


/* Container Discord channels  */

.container-discord {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
}

.container-interno-discord {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.channels {
    background-color: rgb(10, 10, 241);

}

/* Testo di fianco immagini */
.container-text {
    display: block;
}

.title {
    width: 500px;
    font-family: 'Radio Canada', sans-serif;
    font-size: 60px;
    font-weight: 80px;
    background-color: rgb(228, 206, 10);
    margin-bottom: 10px;
}

.text-p {
    width: 40%;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: rgb(214, 213, 202);
    line-height: 30px;
}



/* Layout rettangolo grande */

.container-rettangolo-grande {
    display: flex;
    width: 100%;
    background-color: rgb(73, 243, 73);
    height: 600px;
    justify-content: center;
    align-items: center;
}


.rettangolo-grande {
    width: 800px;
    height: 550px;
    background-color: rgb(233, 7, 45);
    border-radius: 4px;
}

/* Layout stretch */

.container-stretch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 410px;
}

.interno-stretch {
    display: flex;
    align-items: stretch;
    width: 800px;
    height: 400px;
    background-color: rgb(206, 197, 197);
}

.orange-box {
    background-color: orange;
    width: 400px;
    border: 1px solid black;
}

.lightblue-box1 {
    background-color: lightskyblue;
    width: 100px;
    border: 1px solid black;
}

.lightblue-box2 {
    background-color: lightskyblue;
    width: 100px;
    border: 1px solid black;
}

.lightblue-box3 {
    background-color: lightskyblue;
    width: 100px;
    border: 1px solid black;
}

.lightblue-box4 {
    background-color: lightskyblue;
    width: 100px;
    border: 1px solid black;
}

/* Footer */

.container-footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: blueviolet;
    margin-top: 3px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}

/* Contenuto footer  */

/* Bottoni  */

.bottoni {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: yellowgreen;
    border: 1px solid black;
    border-radius: 2px;
}